[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
flask-sqlalchemy = "*"
Flask-WTF = "*"
WTForms = "*"
email-validator = "*"
Flask-Bcrypt = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.8"
