{% extends 'layout.html' %}

{% block title %}
  Bazar
{% endblock %}

{%block content %}
      <table class="table table-hover table-dark">
      <thead>
          <tr>
              <!-- Your Columns HERE -->
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Barcode</th>
              <th scope="col">Price</th>
              <th scope="col">Options</th>

          </tr>
      </thead>
      <tbody>
          <!-- Your rows inside the table HERE: -->
              {% for i in item %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.barcode}}</td>
                    <td>₹{{i.price}}</td>
                    <td>
                      <button class="btn btn-outline btn-info">More Info</button>
                      <button class="btn btn-outline btn-success">Buy</button>
                    </td>


                </tr>
              {% endfor %}

      </tbody>
    </table>
{% endblock %}
